<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href="/style.css">
<body>

  <%- include('./partials/nav.ejs') %>
  <div class="text-center text-light display-4 mt-5"><b>NOTEBOOK</b></div>
    <div class="container ind mt-5">
      <div class=" bg-success text-light"><h2>ALL BLOGS</h2></div>
      <%if(blogs.length>0){%>

        <% blogs.forEach(c=>{%>
          <a class="text-light" href="/detail/<%= c._id %>">
          <h3 ><%=c.title%></h3>
          <p><%=c.snippet%></p>
          </a>
        <%})%>

      <%}else{%>
        <h2 class="text-light">NO ANY BLOGS</h2>
      <%}%>
    </div>
</body>
</html>